@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding0;
	box-sizing:border-box;
}

.container{
	width:1366px;
	margin:0 auto;
	text-align:center;
}

body{
	background: #BCD2E8;
	margin: auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


.headingtd{
text-align:center;
font-size: 30pt;
margin-top: 10px;
color: #1E3F66;
}

.s-header{
	color: #1E3F66;
}
.bodycontent{
	position:relative;
}
#footer{
	background:#1E3F66;
	position: relative;
	height: 100px;
	margin-top:-100px;
	clear: both;
}

input[type=button], input[type=submit], input[type=reset]{
	background-color: #1E3F66;
	color: #BCD2E8;
	border-radius: 5px;
}

.todoabout{
	width:100%;
}
@media only screen and (max-width: 600px){
.container{
	width:100%;
}
}
